body {
    background-color: rgb(211,229,254);
}
form {
    background-color: white;
    max-width: fit-content;
    padding: 30px;
    margin: 0% auto;
}
span {
    color: rgb(77,96,235);
    font-size: 25px;
    font-family: Calibri, sans-serif;
}
.names {
    max-width: max-content;
    padding: 12px 22px;
    border-radius: 8px;
    border: none;
    background-color: rgb(231, 233, 254);
    margin: 5px;
}
.contact {
    width: auto;
    padding: 12px 22px;
    border-radius: 8px;
    border: none;
    background-color: rgb(220, 225, 255);
    margin: 5px;
}
.address {
    width: 87%;
    padding: 12px 22px;
    border-radius: 8px;
    border: none;
    background-color: rgb(199,205,253);
    margin: 5px;
}
textarea {
    width: 87%;
    padding: 12px 22px;
    border-radius: 8px;
    border: none;
    background-color: rgb(164,176,252);
    margin: 5px;
}
::placeholder {
    color: rgb(77,96,235);
    font-family: Calibri, sans-serif;
    font-size: 18px;
    text-align: left;
}
button {
    border-radius: 15px;
    border: none;
    background-color: rgb(35,59,243);
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px 25px;
}
p {
    color: rgb(126,220,192);
    font-family: Calibri, sans-serif;
    font-size: 15px;
}
.submitButton {
    text-align: center;
}